[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "libnatpmp"]
	path = libnatpmp
	url = https://github.com/miniupnp/libnatpmp.git
